{% extends "base.html"  %}

{% block content %}
<br></br>
<div class="container d-flex justify-content-center align-items-center">
  <div class="card" style="width: 18rem;">
    <img src="{{product.image.url}}" class="card-img-top" alt="..." style="border-top: solid 1px; border-left: solid 1px; border-right: solid 1px;">
    <div class="card-body" style="border-bottom: solid 1px; border-left: solid 1px; border-right: solid 1px;">
      <h5 class="card-title">Name: {{product.name}}</h5>
      <h6 class="card-text">Category: {{product.category}}</h6>
      <p class="card-text">{{product.description}}</p>
    
      {% if product.is_sale %}
       <p class="card-text">$ 
         <strike>{{product.price}}</strike>
         <span style="color: red">${{product.sale_price}}</span>
       </p>   
      {% else %}
       <p class="card-text">${{product.price}}</p>   
      {% endif %}
      <div class="row">
        <div class="col-md-12 d-flex align-items-center">
          <label for="quantity" class="me-2">Quantity:</label>
          <select id="quantity_cart" class="form-select" aria-label="Default select example" style="width: auto;">
            <option value="1">1</option>
            <option value="2">2</option> 
            <option value="3">3</option>
            <option value="4">4</option> 
            <option value="5">5</option> 
          </select> 
        </div> 
       </div>

     <div class="col-12 d-flex justify-content-center mt-3"> <button type="button" class="btn btn-primary" id="add-product" value="{{product.id}}">Add to cart</button> </div>    </div>
  </div>
</div>
<br></br>
<script>
  console.log ({{product.id}})</script>
 <script>

  $(document).on('click','#add-product',function(e){
    e.preventDefault();
    $.ajax({
      type: "POST",
      url:'{% url 'add_cart' %}', 
      data: {
        product_id : $('#add-product').val(),
        product_qty: $('#quantity_cart option:selected').text(),
        csrfmiddlewaretoken: '{{csrf_token}}',
        action: 'post'
      },
      success: function(json){
        document.getElementById('cart_quantity').innerText = json.qty
        console.log(json)
      },
      error: function(xhr,errmsg,err){
  
      }
    });
   })
</script>  
{% endblock %}
