{% extends "base.html"  %}

{% block content %}
<header class="py-3" style="background-color:rgb(65, 69, 65);">
  <div class="container">
      <div class="text-center text-white" >
          <h3 class=" fw-bolder" >Cart Summary</h3>
      </div>
  </div>
</header>


  {% comment %} {%for product in cart_products%}
  {{product}}
  {%endfor%} {% endcomment %}
  <section class="h-100 h-custom" style="background:rgb(168, 213, 169)">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-8">
                  <div class="p-5">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                      <h1 class="fw-bold mb-0"> Cart</h1>
                      <h5 class="mb-0 "><strong>Total Items: </strong>{{cart.quantity}}</h5>
                    </div>
                    <hr class="my-4">
                    {%for product in cart_products%}
                    <div class="row mb-4 d-flex justify-content-between align-items-center" data-product-id ="{{product.id}}" >
                      <div class="col-md-2 col-lg-2 col-xl-2">
                        <img
                          src="{{product.image.url}}"
                          class="img-fluid rounded-3" alt="{{product.name}}">
                      </div>
                      <div class="col-md-3 col-lg-3 col-l-3">
                        <h5 class="mb-0">{{product.name}}</h5>
                        <h6 class="text-muted">{{product.category}}</h6>
                       
                      </div>
                      
                      {% comment %} <div class="col-md-1 col-lg-1 col-xl-2 d-flex">
                            
                      </div>  {% endcomment %}

                        
                        {% comment %} <button type ="button" class="btn btn-secondary ml-2 update-cart"  id="update-cart" data-index= {{product.id}}>Update</button> {% endcomment %}
      
                   
       
                      
                      <div class="col-md-2 col-lg-2 col-xl-3 d-flex justify-content-between">
                        <select id="select{{product.id}}" class="form-select" aria-label="Default select example" style="width: auto;">
                          
                          
                          {%for key,value in quantities.items %}
                            {%if key == product.id|slugify%}
                            <option selected>{{value}}</option>
                            {%endif%}
                          {%endfor%}
                          <option value="1">1</option>
                          <option value="2">2</option> 
                          <option value="3">3</option>
                          <option value="4">4</option> 
                          <option value="5">5</option> 
                        </select>              
                        <button class="btn btn-success btn-sm rounded-0 update-cart" type="button" data-toggle="tooltip" data-placement="top" title="Edit" id="update-cart" data-index={{product.id}}><i class="fa fa-edit"></i> Save</button>
                      </div>
                      
                      

                      
                   

                      {%if product.is_sale%}
                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h6 class="mb-0" style="color: red">$ <strike>{{product.price}}</strike> ${{product.sale_price}}</h6>
                      </div>
                      {%else%}
                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h6 class="mb-0">$ {{product.price}}</h6>
                      </div>
                      {%endif%}
                    
                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
  {% comment %} <button  type = "button" class="text-muted delete-product" id ="" data-index = {{product.id}}><i class="fas fa-times"></i></a> {% endcomment %}
                          <button class="btn btn-danger btn-sm rounded-0 delete-product" type="button" data-toggle="tooltip" data-placement="top" title="Delete" id="update-cart" data-index={{product.id}}><i class="fa fa-delete"></i>Delete</button>
                 
                       </div>
                    </div>
                    {%endfor%}
                    <hr class="my-4">
                
  
                    <div class="pt-5">
                      <h6 class="mb-0"><a href="{%url 'home'%}" class="text-body"><i
                            class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                    </div>
                  </div>
                </div>
                {% comment %} <div class="col-lg-4 bg-body-tertiary">
                  <div class="p-5">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                    <hr class="my-4">
  
                    <div class="d-flex justify-content-between mb-4">
                      <h5 class="text-uppercase">items 3</h5>
                      <h5>€ 132.00</h5>
                    </div>
  
                    <h5 class="text-uppercase mb-3">Shipping</h5>
  
                    <div class="mb-4 pb-2">
                      <select data-mdb-select-init>
                        <option value="1">Standard-Delivery- €5.00</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                        <option value="4">Four</option>
                      </select>
                    </div>
  
                    <h5 class="text-uppercase mb-3">Give code</h5>
  
                    <div class="mb-5">
                      <div data-mdb-input-init class="form-outline">
                        <input type="text" id="form3Examplea2" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplea2">Enter your code</label>
                      </div>
                    </div>
  
                    <hr class="my-4">
  
                    <div class="d-flex justify-content-between mb-5">
                      <h5 class="text-uppercase">Total price</h5>
                      <h5>€ 137.00</h5>
                    </div>
  
                    <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-block btn-lg"
                      data-mdb-ripple-color="dark">Register</button>
  
                  </div> {% endcomment %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </section>


    <script>
      $(document).on('click','.update-cart',function(e){
        e.preventDefault();
        var productId = $(this).data('index')
        console.log($('#select' + productId + ' option:selected').text())
        $.ajax({
          type: "POST",
          url:'{% url 'update_cart' %}', 
          data: {
            product_id : productId,
            product_qty: $('#select' + productId + ' option:selected').text(),
            csrfmiddlewaretoken: '{{csrf_token}}',
            action: 'post'
          },
          success: function(json){
            location.reload();
          },
          error: function(xhr,errmsg,err){
      
          }
        });
       })

 //delete
       $(document).on('click','.delete-product',function(e){
        e.preventDefault();
        var productId = $(this).data('index')
        console.log($('#select' + productId + ' option:selected').text())
        $.ajax({
          type: "POST",
          url:'{% url 'delete_cart' %}', 
          data: {
            product_id : productId,
            csrfmiddlewaretoken: '{{csrf_token}}',
            action: 'post'
          },
          success: function(json){
            location.reload();
          },
          error: function(xhr,errmsg,err){
      
          }
        });
       })
    </script>  


{% endblock %}
